### General Development Files and Directories ###
Debug/
Release/
ipch/
*.suo
*.filters
*.user
*.opensdf

### Compilation and Intermediate Files ###
bin/
*.[oa]
*.so
*.sdf
*.dll
*.exe

### OS Files ###
*~
*.DS_Store
*.db